@import "../template.scss";

.categories {
  .balance {
    .positive {
      color: $green;
    }

    .negative {
      color: $red;
    }
  }

  table {
    color: $white;
    vertical-align: middle;

    td {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .category {
      padding-left: 2rem;
    }

    .category-limit {
      input {
        text-align: center;
      }
    }

    .active {
      text-align: right;
      border-right: solid 1px $white;
      padding-right: 1rem
    }

    .difference {
      text-align: center;
      min-width: 4rem;
    }

    tr:last-child {
      td {
        border-bottom: none
      }
    }
  }
}