@import "../template.scss";

.category-transactions {
  text-align: center;

  h1 {
    text-align: center;
    i {
      margin-right: 0.5rem;
    }
    span {
      font-size: 1rem;
    }
  }
}

.edit-transactions-modal {
  .modal-content {
    background-color: $dark-1;

    section {
      border-top: solid 1px $white;
      padding-top: 1rem;
    }

    .btn-close {
      color: $white
    }
  }
}