@import "../template.scss";

.main-dashboard {
  &.loading {
    display: flex;
    justify-content: center;
  }
  .balances {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;

    p {
      margin-bottom: 0;
    }

    .line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .positive {
        color: $emerald;
      }

      .negative {
        color: $alizarin;
      }
    }

    .line:last-child {
      margin-bottom: 0;
    }

    .expense-limit {
      font-size: 0.85rem;
    }
  }

  .category-breakdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .income-categories, .incorrect-categories {
    border-top: solid 3px $dark-2;
    // padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .category-tile {
      margin: 1rem 2rem;
    }
  }
}