@import "../template.scss";

.next-month {
  table {
    color: $white;
  }

  thead {
    font-weight: bold;
    border-bottom: solid 3px $white;
  }

  .has-charge-this-month {
    background-color: $info;
    color: $dark-1;
  }

  .total {
    text-align: center;
    margin-top: 5rem;

    h2 {
      display: inline-block;
      border: solid $white 1px;
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}