.category-tile {
  background-color: #243145;
  text-align: center;
  padding: 15px;
  border-radius: 7px;
  margin-bottom: 15px;
  width: 45%;
  box-sizing: border-box;
}

.category-tile p {
  margin: 0;
}

.category-tile p.category {
  margin-top: 10px;
  font-size: 1.5em;
}

.category-tile p.category i {
  margin-right: 10px;
}

.category-tile .circular-progress-bar-content {
  text-align: center;
}

.category-tile .circular-progress-bar-content .amount-spent {
  font-size: 1.75em;
  border-bottom: solid 1px #4f688f;
}

.category-tile.good .circular-progress-bar-content {
  color: #2ecc71;
}
.category-tile.good .CircularProgressbar .CircularProgressbar-path {
  stroke: #2ecc71;
}

.category-tile.warning .circular-progress-bar-content {
  color: #f1c40f;
}
.category-tile.warning .CircularProgressbar .CircularProgressbar-path {
  stroke: #f1c40f;
}

.category-tile.danger .circular-progress-bar-content {
  color: #e74c3c;
}
.category-tile.danger .CircularProgressbar .CircularProgressbar-path {
  stroke: #e74c3c;
}

.category-tile .circular-progress-bar-content .limit {
  color: #a1a1a1;
}

.category-tile .CircularProgressbar .CircularProgressbar-path {
  stroke: red;
}
.category-tile .CircularProgressbar .CircularProgressbar-trail {
  stroke: gray;
}