@import "./variables.scss";

.App {
  height: 100%;
  padding: 20px;

  .navbar {
    margin-bottom: 1rem;

    a {
      color: $white;
      border: solid 1px $white;
      border-radius: var(--bs-nav-pills-border-radius);

      &.active {
        border: none;
      }
    }
  }
}
