@import "./template.scss";

.App {
  height: 100%;
  padding: 20px;
}

@media (min-width: 667px) {
  .body-wrapper {
    width: calc(100vw - 260px);
    margin-left: 200px;
    margin-top: 3rem;
  }
}