// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Colors
$white: #ecf0f1;
$dark-1: #151E29;
$dark-2: #243145;
$dark-3: #384660;
$dark-4: #3f130f;

$nephritis: #27ae60;
$emerald: #2ecc71;

$alizarin: #e74c3c;
$pomegrenate: #c0392b;

$sunflower: #f1c40f;
$orange: #f39c12;